<section class="author-resume">
  <figure class="author-thumb">
    <img src="/assets/my-image.jpg" alt="Autor do blog realizando palestra durante o Google DevFest Rio de Janeiro">
  </figure>
  <div class="author-info__wrapper">
    <h1 class="author-name">O Author</h1>
    <p class="author-about">
      <b>Math</b> trabalha há 5 anos com desenvolvimento WEB e atualmente é engenheiro de front-end na B2W Digital, holding de marcas como americanas.com, Submarino e Shoptime. Mora em Petrópolis-RJ curte memes, DOTA, nerd stuff e parties !
    </p>
  </div>
</section>
