
    <header>
      <div class="thumb">
        <img src="assets/my-image.jpg" alt="">
      </div>
      
      <h1>{{ site.title | xml_escape }}</h1>
      
      <nav>
        <ul>
        {% for page in site.pages %}
          <li><a href="#">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
      </nav>

      <footer>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        <div class="social">
          <a href="https://www.facebook.com/{{ site.facebook_username }}">
            <img class='icon' src="assets/facebook-logo-button.svg" alt="">
          </a>
          <a href="https://github.com/{{ site.github_username }}">
            <img class='icon' src="assets/github-logo.svg" alt="">
          </a>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <img class='icon' src="assets/twitter-logo-button.svg" alt="">
          </a>
          <a href="/sobre">
            <img class='icon' src="assets/heart.svg" alt="">
          </a>
        </div>
      </footer>
    </header>