<header class="blog-header">
  <div class="blog-author__wrapper">
    <figure class="author-thumb"><img src="/assets/my-image.jpg" alt="Autor do blog realizando palestra durante o Google DevFest Rio de Janeiro" /></figure>
    <div class="author-info_wrapper">
      <h1 class="author-name">Matheus Mesquita</h1>
      <div class="social">
        <a target="_blank" href="https://github.com/{{ site.github_username }}" class="social-link social-github"><span>Github</spa></a>
        <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}" class="social-link social-twitter"><span>Twitter</spa></a>
        <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="social-link social-linkedin"><span>LinkedIn</spa></a>
        <a target="_blank" href="mailto:{{ site.email }}" class="social-link social-email"><span>Email</spa></a>
      </div>
    </div>
  </div>
</header>