$mainColor: #7DCE94;
$white: #F6F5F3;
$black: #3D3D3F;
$grey: #b8b8c3;

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Quicksand', sans-serif;

$css: $mainColor;
$cssInverted: $black;

$etc: #610888;
$etcInverted: $white;

$js: #9a1c1c;
$jsInverted: $white;

$react: #3fc1cb;
$reactInverted: $white;

$canvas: #de7000;
$canvasInverted: $white;

$sql: #32a5a9;
$sqlInverted: $white;