.post-header__container {
  width: 100%;
  display: flex;
  align-items: center;
  @media (max-width: 52rem) {
    flex-direction: column;
  }
}
.post-stamp {
  width: 13.5rem;
  min-width: 13.5rem;
  height: 13.5rem;
  min-height: 13.5rem;
  position: relative;
  @media (max-width: 52rem) {
    width: 9rem;
    min-width: 9rem;
    height: 9rem;
    min-height: 9rem;
  }
}
.post-stamp::before {
  content: '';
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 4.5rem solid transparent;
  border-left: 4.5rem solid $white;
  border-right: 4.5rem solid $white;
  @media (max-width: 52rem) {
    border-bottom: 3rem solid transparent;
    border-left: 3rem solid $white;
    border-right: 3rem solid $white;
  }
}
.post-stamp::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 4.5rem solid transparent;
  border-left: 4.5rem solid $white;
  border-right: 4.5rem solid $white;
  @media (max-width: 52rem) {
    border-top: 3rem solid transparent;
    border-left: 3rem solid $white;
    border-right: 3rem solid $white;
  }
}

.post-info__wrapper {
  @media (max-width: 24rem) {
    text-align: center;
    margin-top: 1rem;
  }  
}
.post-info__wrapper::before {
  text-transform: uppercase;
  font-family: $primaryFont;
  margin-left: 1.5rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2rem;
  @media (max-width: 52rem) {
    margin-left: 0;
  }
  @media (max-width: 24rem) {
    text-align: center;
  }  
}
.post-title {
  font-family: $primaryFont;
  font-size: 2.75rem;
  color: $black;
  margin-left: 1.5rem;
  margin-bottom: 0.2rem;
  @media (max-width: 52rem) {
    font-size: 2rem;
    margin-left: 0;
  }
  @media (max-width: 36rem) {
    font-size: 1.5rem;
  }  
  @media (max-width: 24rem) {
    text-align: center;
  }  
}
.post-date {
  font-family: $primaryFont;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  display: block;
  @media (max-width: 52rem) {
    margin-left: 0;
  }
  @media (max-width: 24rem) {
    text-align: center;
  }  
}

@mixin colorifyByTypeOfPost($type, $text, $lightColor, $darkColor) {
  .post-header.--#{$type} {
    .post-stamp {
      background-color: $lightColor;
    }

    .post-info__wrapper::before {
      background-color: $lightColor;
      color: $darkColor;
      content: '#{$text}';
    }
  }
}

@include colorifyByTypeOfPost('css', 'CSS', $css, $cssInverted);
@include colorifyByTypeOfPost('etc', 'ETC', $etc, $etcInverted);
@include colorifyByTypeOfPost('js', 'JAVASCRIPT', $js, $jsInverted);
@include colorifyByTypeOfPost('react', 'REACTJS', $react, $reactInverted);
@include colorifyByTypeOfPost('canvas', 'CANVAS', $canvas, $canvasInverted);
@include colorifyByTypeOfPost('sql', 'SQL', $sql, $sqlInverted);
